*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    list-style: none;
    outline: 1px solid red;
    outline-offset: -1px;
}
#aviso-retratil{
    background-color: #FAAB43;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
#aviso-retratil img{
    margin-right: 20px;
}
#aviso-retratil p{
    color: #FFFFFF;
}

header{
    padding: 0 30px;
}
header nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
}
header nav > div{
    display: flex;
    align-items: center;
}
header nav > div:first-child ul{
    display: flex;
}

header nav > div:nth-child(2) ul{
    display: none;
}
header nav .header-select-title{
    display: flex;
}